:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	color-scheme: light dark;

	--bg: #ffffff;
	--alt: #f4edf9;
	--header-bg: #f4edf9bf;
	--text: #000000;
	--accent: #e2afff;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

html {
	font-size: 1.2em;
	scroll-behavior: smooth;
	scrollbar-width: thin;
	scrollbar-color: var(--accent) var(--alt);
}

body {
	background-image: radial-gradient(var(--alt) 10%, transparent 10%);
	background-position: 12px 12px;
	background-size: 20px 20px;
	background-color: var(--bg);
	color: var(--text);

	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

a,
a:checked {
	text-decoration: none;
	color: inherit;
}

#app {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	overflow: hidden;
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg: #000;
		--alt: #0c0c0c;
		--header-bg: #0c0c0cbf;
		--text: #f4edf9;
	}
}
